{{ define "main" }}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Paginator.Pages }}
    {{ $readMin := div (add .WordCount 100) 200 }}
    {{ if lt $readMin 1 }}{{ $readMin = 1 }}{{ end }}
    <section data-year="{{ .Date | time.Format "2006" }}" data-month="{{ .Date | time.Format "1" }}">
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      <div class="card-meta">
        <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date | time.Format ":date_long" }}</time>
        <span class="read-time">{{ $readMin }} min read</span>
      </div>
      {{ .Summary }}
    </section>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
