{{- $postsSection := site.GetPage "posts" -}}
{{- range $postsSection.Pages.GroupByDate "2006" -}}
  {{- $year := .Key -}}
  {{- $yearTitle := printf "Posts from %s" $year -}}
  {{- with .AddPage (dict "path" (print $year "/_index.md") "title" $yearTitle) -}}
  {{- end -}}
  {{- range .Pages.GroupByDate "January 2006" -}}
    {{- $firstPage := index .Pages 0 -}}
    {{- $monthNum  := $firstPage.Date | time.Format "1" -}}
    {{- $monthName := $firstPage.Date | time.Format "January" -}}
    {{- $monthTitle := printf "%s %s" $monthName $year -}}
    {{- with .AddPage (dict "path" (print $year "/" $monthNum "/_index.md") "title" $monthTitle) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
