{{- /* Social icon grid */}}
{{- with site.Params.socials }}
<ul class="footer-socials">
  {{- range . }}
  <li>
    <a href="{{ .url }}"
       target="_blank"
       rel="noopener noreferrer"
       aria-label="{{ .label }}"
       class="social-link">
      <i class="{{ if .brand }}fa-brands{{ else }}fa-solid{{ end }} fa-{{ .icon }}"></i>
    </a>
  </li>
  {{- end }}
</ul>
{{- end }}

<p class="footer-copy">
  <i class="fa-regular fa-copyright"></i> {{ now.Year }} dparo. All rights reserved.
</p>
